name: Mirror Epitech Project

env:
  MIRROR_URL: git@github.com:EpitechPGE3-2025/G-DEV-500-MLH-5-2-area-3.git

on:
  push:
    branches:
      - main

jobs:
  push_to_mirror:
    name: Push to Mirror
    runs-on: ubuntu-latest
    if: github.repository != 'EpitechPGE3-2025/G-DEV-500-MLH-5-2-area-3'

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Push to Mirror
        uses: pixta-dev/repository-mirroring-action@v1
        with:
          target_repo_url: ${{ env.MIRROR_URL }}
          ssh_private_key: ${{ secrets.GIT_SSH_PRIVATE_KEY }}
